.TaskCounter{
    position: fixed;
    bottom: 50px;
    left: calc(50vw - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 70px;
    border-radius: 29px;
    z-index: 1000;
}

